
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.story {
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


/*#story4 .content {
  margin-top: 20px;
}*/


h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
  /*word-wrap: break-word*/;
}

/*h4 {
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
}*/


p, ul {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  padding-left: 20px;
}


.flourish-embed {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}


.click-zone {
  width: 50px;
  height: 50px;
  background-color: #dfe0e1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left { left: 20px; }
.right { right: 20px; }

 
@media (max-width: 768px) {
  .story-container {
    padding: 10px;
  }

  .story {
    padding: 15px;
    min-height: 350px;
  }

  h1 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  p, ul {
    font-size: 14px;
  }

  .flourish-embed {
    height: 300px;
  }

  .click-zone {
    width: 40px;
    height: 40px;
  }
}

